/*COLOUR PALETTE
#2e4863
#476d26
#f97443
#e29c18
#ffc3ba
*/

/* FONTS
font-family: 'Nunito Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Alegreya', serif;
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8em;
	color: #2e4863;
}
header {
	background-image: url("../img/home1.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 0 20px;
	display: flex;
	z-index: 999;
}
h2 {
	font-size: 30px;
	text-align: center;
	padding: 50px;
	margin: 20px:
}
h3 {
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
.main-nav {
	/* mix-blend-mode: exclusion; */
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 5rem;
	/* border-bottom: 1px solid #476d26; */
}
.logo>a {
	position: absolute;
	text-decoration: none;
	color: #2e4863;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 80px;
	letter-spacing: 1px;
	padding: 0em 2em;
}
.logo a:hover {
	color: #f97443;
}
.navbar {
	float: right;
	line-height: 80px;
	margin: 0 2em;
}
.navbar ul {
	list-style: none;
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: #2e4863;
	font-size: 16px;
	font-weight: bolder;
	letter-spacing: 1px;
	padding: 0 20px;
}
.navbar ul li a:hover {
	color: #f97443;
}
.intro h1 {
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-40, -20);
	font-family: 'Nunito Sans', sans-serif;
	font-size: 72px;
	/* display: none; */
}
/**** ABOUT ****/

.about {
	display: block;
	background-size: cover;
	text-align: center;
	background-color: #ffc3ba;
	padding: 60px 20px;
	color: #2e4863;
}
/**** CHECK TEXT SIZING ****/

.wrapper-about {
	height: auto;
	font-size: 55px;
	letter-spacing: -2px;
	font-weight: 900;
	line-height: 60px;
	padding: 40px 145px 0 145px;
}
.crossed {
	text-decoration: line-through;
	color: #f97443;
}
.btn {
	display: inline-block;
	text-decoration: none;
	margin: 10px 0;
	padding: 0 10px;
	font-size: 26px;
	font-weight: 900;
	border: 4px solid #2e4863;
	border-radius: 8px;
	color: #f97443;
}
.btn:hover {
	color: #2e4863;
	border: 4px solid #f97443;
}
/**** PROJECTS SECTIONS ****/

.projects {
	background-color: #fff;
	background-size: cover;
	background-position: center;
	height: auto;
}
.projects-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 3px;
	padding: 0;
	margin: 0;
}
.projects-item {
	/* border: 1px solid red; */
	text-align: center;
	margin: 0;
	padding: 20px;
}
.text {
	text-align: center;
	font-weight: bold;
}
.image {
	border: 2px solid #fff;
}
/**** CONTACT SECTION ****/

.contact {
	background-color: #ffc3ba;
	background-size: cover;
	background-position: center;
	height: 650px;
	padding: 0 20px;
}
.contact-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}
.box {
	text-align: center;
}
.social {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.social li {
	text-align: center;
	list-style: none;
}
ul.social {
	list-style-type: none;
}
i {
	color: #f97443;
	font-size: 2em;
	display: inline-block;
}
/*** FOOTER SECTION ***/

footer {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10px;
	font-weight: lighter;
}
/* @media screen and  */
